<div class="sidenav-home-container">
    <div class="side-nav-nav-bar">
        <ul>
            <li><a href="dashboard">Home</a></li>
            <li><a href="exam">Exam</a></li>
            <li><a href="employ">Employ</a></li>
            <li><a href="#">Messages</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
        </ul>

    </div>
    <div class="side-nav-icon-bar">
        <div class="side-nav-icon-box">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

</div>