<div class="top-nav-container">
    <div class="nav-title-container">
        <div class="nav-title">
            <%- appName %>
        </div>
    </div>

    <div class="nav-menu-container">
        <div class="nav-menu">
            <ul>
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div class="nav-user-container">
            <div class="nav-user">
                <span><%= name %></span>
            </div>
        </div>
    </div>
</div>